<!DOCTYPE html>
<html>
  <head>
    <title>DataSets</title>
    <%= csrf_meta_tags %>
		<%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

	<nav class="navbar navbar-default navbar-expand-sm">
		<%= link_to 'Home', root_path, method: :get %>
		<%= link_to 'Index', static_pages_index_path, method: :get %>
		<%= link_to 'Help', static_pages_help_path, method: :get %>
		<%= link_to 'Rooms#Show', rooms_show_path, method: :get %>
		<%= link_to 'Graph One', herbs_graph_one_path, method: :get %>
		<%= link_to 'Graph Two', herbs_graph_two_path, method: :get %>
	</nav>

  <body>
    <%= yield %>

	<div class="container" style="position: fixed; bottom: 0; right: 0;">
		<h1>Chat room&nbsp;&nbsp;</h1>

		<div id="messages">

		</div>

		<form>
			<label>Say something:</label><br>
			<input type="text" data-behavior="room_speaker">
		</form>
		<br>&nbsp;<br>
	</div>

  </body>
</html>
